@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --font-family-fmlA: "Bebas Neue", sans-serif;
  --font-family-fmlB: "Zalando Sans Expanded", sans-serif;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  overflow-x: hidden;
}
h1 {
  font-size: 5rem;
  font-family: var(--font-family-fmlA);
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
  line-height: 0.9;
}
h2 {
  font-family: var(--font-family-fmlB);
  letter-spacing: 2px;
  text-align: center;
  font-weight: 500;
  line-height: 0.9;
}
p {
  font-size: 1rem;
  font-family: var(--font-family-fmlB);
  font-weight: 500;
  line-height: 1;
}
img {
  height: auto;
  width: auto;
  border-radius: 15px;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.intro,
.outro {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.intro h1,
.outro h2 {
  width: 100%;
}

.spotlight-content,
.header {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}
.spotlight-bg {
  position: absolute;
  transform: scale(0.8);
  opacity: 0.25;
}
.spotlight-content h2 {
  width: 100%;
}
.header-content {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 2rem;
  will-change: transform, opacity;
  transform: translateY(-100px);
  opacity: 0;
}
.feature {
  position: absolute;
  width: max-content;
  height: max-content;
  padding: 1rem 1.5rem;
  transform: translate(-50%, -50%);
  will-change: top, left;
}
.feature-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: #777;
  border: 0.125rem solid #fff;
  border-radius: 0.5rem;
  will-change: width, height, border-radius, border-width;
}
.feature-content {
  position: relative;
  will-change: opacity;
}
.feature-content p {
  text-transform: uppercase;
  font-family: var(--font-family-fmlB);
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.85rem;
  line-height: 1;
}

.search-bar {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 15px;
  opacity: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  will-change: opacity, width, height, transform;
}

.search-bar > img {
  padding: 5px;
  height: 60vh;
  opacity: 0.25;
  width: auto;
  text-align: center;
}
