@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --font-family-fmlA: "Bebas Neue", sans-serif;
  --font-family-fmlB: "Zalando Sans Expanded", sans-serif;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  overflow-x: hidden;
}
h1 {
  font-size: 5rem;
  font-family: var(--font-family-fmlA);
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
  line-height: 0.9;
}
h2 {
  font-family: var(--font-family-fmlB);
  letter-spacing: 2px;
  text-align: center;
  font-weight: 500;
  line-height: 0.9;
}
p {
  font-size: 1rem;
  font-family: var(--font-family-fmlB);
  font-weight: 500;
  line-height: 1;
}
img {
  height: auto;
  width: auto;
  border-radius: 15px;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.intro,
.outro {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.intro h1,
.outro h2 {
  width: 100%;
}

.spotlight-content,
.header {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}
.spotlight-bg {
  top: 0;
  position: absolute;
  transform: scale(0.8);
  /* opacity: 0.25; */
  background: #fff url("../image/graff.png") no-repeat 50% 55%;
  background-size: contain;
  border-radius: 15px;
  animation: featHover 2s linear infinite;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
video {
  height: auto;
  width: auto;
  opacity: 0.6;
  border-radius: 15px;
  animation: featHoverIA 5s linear infinite;
}
.spotlight-content h2 {
  margin-top: 15vh;
  width: 100%;
  font-family: var(--font-family-fmlA);
  color: #0f0f0f;
  letter-spacing: 0;
  font-size: 8rem;
  width: 3ex;
  text-align: left;
  font-weight: 700;
}
small {
  width: 100%;
  font-family: var(--font-family-fmlB);
  color: #0f0f0f;
  letter-spacing: 1px;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 700;
  text-align: center;
}
.header-content {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 2rem;
  will-change: transform, opacity;
  transform: translateY(-100px);
  opacity: 0;
}
.feature {
  position: absolute;
  width: max-content;
  height: max-content;
  padding: 1rem 1.5rem;
  transform: translate(-50%, -50%);
  will-change: top, left;
}
.feature-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border: 0.165rem solid #fff;
  border-radius: 0.5rem;
  background-color: #777;
  will-change: width, height, border-radius, border-width;
  overflow: hidden;
}
.feature-content {
  position: relative;
  will-change: opacity;
}
.feature:hover {
  animation: featHover 2s linear infinite;
}
.feature-content p {
  text-transform: uppercase;
  font-family: var(--font-family-fmlB);
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.85rem;
  line-height: 1;
}

.search-bar {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 15px;
  opacity: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  will-change: opacity, width, height, transform;
}

.search-bar > img {
  padding: 5px;
  height: 60vh;
  opacity: 0.25;
  width: auto;
  text-align: center;
}
@keyframes featHover {
  0% {
    box-shadow: 0 6px 12px #f4320b;
  }
  25% {
    box-shadow: 6px 0 12px #ff2ed2;
  }
  50% {
    box-shadow: 0 -6px 12px #f5cf27;
  }
  75% {
    box-shadow: -6px 0 12px #2effab;
  }
  100% {
    box-shadow: 0 6px 12px #63c6f8;
  }
}
@keyframes featHoverIA {
  0% {
   background-color: #0f0f0f;
  }
  25% {
    mix-blend-mode: difference;
  }
  50% {
    mix-blend-mode: exclusion;
  }
  75% {
    mix-blend-mode: darken;
  }
  100% {
   mix-blend-mode: saturation;
  }
}
.transition__add__js {
  transition: color 0.4s ease-out;
}
.transitionBg__add__js {
  transition: background-color 0.4s ease-out;
}
